


body{
    font-family: monospace;
    background-color: #6E8898;
    color: #2E5266;
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 100px;
}

body > header > h1 >a{
    text-decoration: none;
}

nav > ol{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center; 
    padding-left: 200px;
    padding-right: 200px;
    background-color: #9FB1BC;
}

body > article > section {
    text-align: justify;
}

section.text-one{
    background-color: white;
    padding-left: 40px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#id-example-one{
 background-color: #636363;
 color: #c5d5ea;
 padding-left: 50px;
 padding-top: 50px;
 padding-bottom: 50px;
 padding-right: 50px;
 margin-top: 10px;
 margin-bottom: 10px;
}
body > footer {
    text-align: center;
}


