<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/cvstyle.css">

</head>
<body>
    <header>
        <img src="image/foto.jpeg" alt="logo" style="float:left;width:100px;height:125px;">
        <h1>Alejandro Flores Aragón</h1>
        <p>    
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, doloribus. Enim corporis vero omnis numquam maiores esse dignissimos, pariatur, accusamus voluptate ut totam quis, expedita aspernatur iusto dolores fugiat odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium nam mollitia ipsam consequuntur odio soluta veritatis maiores porro autem a similique omnis, minus sequi magnam blanditiis id asperiores rem recusandae.</p>
   
    </header>
    
    <section class="info">
        <p><b>Email:</b> alexflores1524@gmail.com</p>
        <p><b>Dirección:</b> Guadalajara, Jalisco</p>
        <p><b>Telefono:</b> 3318628297</p>
    </section>
    <hr class="line" width="1" size="1">

    <h2>Experiencia</h2>
    <div class="container">
    <div id="left">
    <section class="trabajos">
        <ul>
            <h3>Intel</h3>
            <h4>Analog Validation DB Intern</h4>
            <h5>Guadalajara, México</h5>
            <h6>Noviembre 2019 - Actual</h6>
        </ul>

        <ul>
            <h3>EATON</h3>
            <h4>Analista de base de datos</h4>
            <h5>Guadalajara, México</h5>
            <h6>Marzo 2019 - Noviembre 2019</h6>
        </ul>

        <ul>
            <h3>LUMSTON</h3>
            <h4>Programador</h4>
            <h5>Guadalajara, México</h5>
            <h6>Junio 2017 - Enero 2019</h6>
        </ul>

        
    </section>
</div>
<div id="center" >
    <hr width="1" size="450">
</div>
<div id="right">
    <section class="respo">
        <ul>
            <h4>Responsabilidades</h4>
            <li>Soporte a base de datos</li>
            <li>Soporte a wikis internas</li>
        </ul>

        <ul>
            <h4>Responsabilidades</h4>
            <li>Analista de bases de datos del equipo comercial</li>
            <li>Creación de herramientas internas para la automatización de procesos</li>
        </ul>

        <ul>
            <h4>Responsabilidades</h4>
            <li>Desarrollo de aplicaciones con XAMARIN (Front end)</li>
            <li>Desarrollo de paginas web (Front end)</li>
            <li>Soporte de apps (Mantenimiento general)</li>
            <li>Testing de apps y páginas web</li>
            <li>Desarrollo de aplicaciones de escritorio con Java</li>
            
        </ul>
    </section>
</div>
</div>
    <footer>
        <hr>
        <div class="foot1">
        <h3>Competencias</h3>
        <p>C++</p>
        <p>C#</p>
        <p>XAMARIN</p>
        <p>BDD</p>
        <p>JAVA</p>
        </div>
        <div class="foot3">
            <hr width="1" size="75">
        </div>
        <div class="foot2">
            <h3>Idiomas</h3>
            <p>Español:   Nativo</p>
            <p>Ingles:    Avanzado</p>
        </div>
    </footer>
</body>
</html>